nav.main-nav {
	text-align: center;
	padding-top: 2rem;
}

nav a {
	color: #000;
	text-decoration: none;
	padding-right: 2rem;
	font-size: 1.4rem;
	text-transform: uppercase;
}

nav.footer-nav {
	text-align: center;
	padding-bottom: 4rem;

}

nav.footer-nav a {
	color: #fff;
}