*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

img {
	width: 100%;
	height: auto;
}


.section-2, .section-5{
    background-color: #8e9c5a;
    padding: 4rem;
    margin-bottom: 2rem;
}

.section-3, .section-7 {
    background-color: #bad391;
    padding: 8rem;
}

.section-4 {
    padding: 2rem 0;
}

.section-6 {
        padding: 0 0 2rem 0;

}