.section-direct {
	padding: 0;
}

.section-quote {
	padding: 20rem 0;
}

.section-main {
	padding: 5rem 0 30rem 0;
}

.section-roots {
	padding: 4rem 0 0 0;
    margin: 0 auto;
    text-align: center;
}

.section-bio {
	padding: 4rem 0 6rem 0;
    margin: 0 auto;
    text-align: center;

}

.section-menu {
	padding: 4rem 0 0 0;
    margin: 0 auto;
    text-align: center;
}


.section-contact {
	padding: 4rem 0 2rem 0;
    margin: 0 auto;
    text-align: center;
}

.section-one {
    padding: 4rem 0 2rem 0;
}

.section-two {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 2rem;
}

.section-four {
    padding: 20rem 0;
}

.section-five {
    padding-bottom: 2rem;
}